@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    background-color: hwb(271 2% 53%);
    padding: 1rem;
}
:where(.config-container, .quiz-container, .result-container) {
    display: none;
    border-radius: 0.5rem;
    box-shadow: 0 10px 25px hwb(0 17% 83% / 0.226);
    background-color: hwb(0 99% 0%);
}
.config-container {
    display: none;
    width: 415px;
    padding: 1.5rem;
    text-align: center;
}
.config-container .config-title {
    font-size: 1.31rem;
}
.config-container .config-option {
    margin-top: 2rem;
}
.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.config-option .category-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 2fr);
}
.config-option .questions-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}
.questions-options button {
    flex: 1 1 10%;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: hwb(248 84% 1%);
    }
}
.config-option button.active {
    color: hwb(271 2% 53%);
    border-color: hwb(271 2% 53%);
    background-color: hwb(248 84% 1%);
}
.config-option button {
    padding: 0.6rem;
    font-size: 0.938rem;
    font-weight: 500;
    background-color: hwb(0 99% 0%);
    border: 1px solid hwb(271 2% 53%);
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: hwb(248 84% 1%);
    }
}

.config-container .star-quizt-button,
.next-question-button,
.try-again-button {
    color: hwb(0 99% 0%);
    border: none;
    background-color: hwb(224 24% 21%);
    cursor: pointer;
    padding: 13px 25px;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background 300ms ease;

    &:hover {
        background-color: hwb(212 9% 45%);
    }
}

.config-container .star-quizt-button {
    margin-top: 30px;
}
